:root {
  --color-first: black;
  --color-second: white;
  --color-cell-background-active: lightsalmon;
  --color-cell-background: #0b610b;
  --color-board-line: black;
}

#reversi-board {
  width: fit-content;
  height: fit-content;
  background-color: var(--color-board-line);

  display: grid;
  grid-template-columns: repeat(8, 45px);
  grid-template-rows: repeat(8, 45px);
  padding: 5px;
}

.cell {
  padding: 2px;

  height: 40px;
  width: 40px;
  perspective: 1000px;
  background-color: var(--color-cell-background);
}
.cell.active {
  background-color: var(--color-cell-background-active);
}

.cell.flipped > .disk {
  transform: rotateZ(90deg) rotateX(180deg);
}

.cell.empty > .disk {
  display: none;
}

.disk {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.disk-front,
.disk-back {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
}

.disk-front {
  background-color: var(--color-first);
}

.disk-back {
  background-color: var(--color-second);
  transform: rotateY(180deg);
}
