#reversi-board {
  width: 100%;
}

@media screen and (orientation: landscape) {
  #reversi-board {
    width: 100vh;
    height: 100%;
  }
}

@media (min-width: 640px) {
  #reversi-board {
    width: 640px;
  }
}
