name: ci

on:
  push:

permissions:
  contents: read

jobs:
  test-and-build:
    runs-on: ubuntu-24.04
    steps:
      # Use major version tags to automatically receive patch updates
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: frontend/package-lock.json
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rustc
      - name: Cache cargo files
        id: cargo-cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            engine/target/
            ~/.cache/wasm-pack/
          key: ${{ runner.os }}-cargo-${{ hashFiles('engine/Cargo.lock') }}
      - name: Install wasm-pack
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo install wasm-pack
      - name: Test at engine/
        working-directory: ./engine
        run: |
          cargo test
          wasm-pack build
      - name: npm ci, build, and test
        working-directory: ./frontend
        run: |
          npm ci --ignore-scripts
          npm run check:format
          npm test
          npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        if: github.ref == 'refs/heads/master'
        with:
          path: ./frontend/dist

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: test-and-build
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
